:root {
  --Dark-Grey: #3c4453;
  --accent-Orange: #fd6900;
  --medium-grey: #949396;
  --medium-light-greay: #aba8b2;
  --light-grey: #c3c3c3;
}

.left-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: var(--medium-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px 0;
  box-sizing: border-box;
  border-right: 1px solid var(--Dark-Grey);
}

/* .left-nav-bar .nav-item {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
} */
/* 
.left-nav-bar .nav-item:hover {
  background-color: #e0e0e0;
}

.left-nav-bar .nav-item.active {
  background-color: #d0d0d0;
} */

.left-nav-bar .nav-button {
  padding: 10px 15px;
  margin-top: 10px; /* Space between items and buttons */
  /* background-color: #4caf50;  */
  /* color: white; */
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 180px;
}

/* .left-nav-bar .nav-button:hover {
  background-color: #3e8e41;
} */

.left-navbar-btn-link {
  color: white;
  background-color: var(--Dark-Grey);
  height: 40px;
  text-align: center;
  border-radius: 20px;
  line-height: 40px;
  text-decoration: none;
}

.navbar-logo {
  width: 100px;
}

.left-navbar-btn-link-home {
  margin-top: 50px;
  width: 200px;
}

.left-navbar-btn-link-favourites {
  margin-top: 20px;
  width: 200px;
}
