.show-nav {
  background-color: var(--medium-light-greay);
  width: calc(100vw - 200px);
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
  height: 60px;
  gap: 10px;
  /* position: fixed;
  left: 200px;
  top: 400px; */
  padding-right: 40px;
  box-shadow: 0px 2px 6px 0px black;
}

.genre-dropbox {
  height: 40px;
  border-radius: 20px;
}

.search-input {
  height: 40px;
  width: 350px;
  border-radius: 20px;
}

.sorting-dropdown {
  height: 40px;
  border-radius: 20px;
}

.favourites-sorting-dropdown {
  margin-right: 50px;
  height: 30px;
  width: 100px;
}
