.carousel-container {
  /* position: fixed; */
  /* z-index: 10; */
  padding: 20px;
  /* padding-top: 60px; */
  width: calc(100vw - 200px);
  background-color: var(--Dark-Grey);
  box-shadow: 0px 2px 6px 0px black;
}

.show-carousel-div {
  /* position: fixed; */
  z-index: 10;
  width: calc(100vw - 200px);
}

.carousel-show-title {
  overflow: hidden;
  text-wrap: nowrap;
  max-width: 250px;
  color: white;
}

/* .react-multi-carousel-dot-list {
  margin-bottom: 20px;
} */
